<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Store App</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="public/css/styles.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="/brands" method="get">
          <button id="MEGA" class="btn btn-info" type="submit" name="button">Brands</button>
          </form>
        </div>
        <div class="col-md-6">
          <form action="/stores" method="get">
          <button id="MEGA" class="btn btn-info" type="submit" name="button">Stores</button>
          </form>
        </div>
      </div>
      <br>
      <hr>
      <br>
        <%= yield %>
      <br>
      <hr>
      <a href="/" class="btn btn-info">Home</a>
    </div>
  </body>
</html>
