<%= %>

<div class="row">
  <div class="col-md-6">
    <h1>Stores</h1>
    <h5><%= @store_message %></h5>
    <ul>
      <% Store.all.each do |store| %>
        <h5><a href="/store/<%= store.id %>"><%= store.name %></a></h5>
      <% end %>
    </ul>
  </div>
  <!-- form -->
  <div class="col-md-6">
    <h3>Add a Store</h3>
    <br>
    <div>
      <form class="form-group" action="/stores" method="post">
        <label for="store-name">Enter a Store Name</label>
        <input class="form-control" type="text" name="store-name">
        <br>

        <button type="submit" class="btn btn-info">Add New Store</button>
      </form>
    </div>
  </div>
</div>
